body {
    margin: 0px;
}

.main-text {
    font-weight: bolder;
}

.text-center {
    text-align: unset;
}

.poller {
    padding: 20px;
}

.text-size{
    color:red;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.question {
    font-size: 16px;
}

.question-stats {
    font-size: 12px;
}

.q-time{
    font-size: 10px;
} 