body {
    margin: 0px;
}

.main-text {
    font-weight: bolder;
}

.text-center {
    text-align: unset;
}

.poller {
    padding: 70px;
}

.text-size{
    color:red;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.question {
    font-size: 16px;
}

.question-stats {
    font-size: 12px;
}

.q-time{
    font-size: 13px;
} 

.logo p {
    /* other styles goes here... */
    display: inline-block;
    vertical-align: top;
}

.user {
    color: green;
}

.verticalLine {
    border-left:  0.5px solid black;
  }

 .struck {
    width: 18%;
    position: fixed;
    top: 50;
 }

 .struck-left{
    width: 13%;
    position: fixed;
    top: 50;
 }

  .module-topic{
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 70px;
  }

  .text-bold {
      font-weight: bold;
  }

  .side-head{
      background-color: #efefef;
      border-radius: .3rem;
      height: 30px;;
  }

  .module-createFeed {
      padding-top: 100px;
  }

  .module-register {
    width: 30%;
  }

  .module-login {
    width: 30%;
  }

  .error-class {
      color: red;
  }

  @media (max-width: 768px) { /* mobile view */
    .struck {
      position: relative;
      width: 100%;
    }
    .struck-left {
        position: relative;
        width: 70%;
    }

    .question {
        margin-left: -20px;
        margin-right: -20px;
        width: 100%;
      }
    .module-register {
        width: 100%;
    }
    .module-login {
        width: 100%;
      }
    .module-topic{
        width: 150%;
        padding-right: 0px;
        padding-left: 10px;
    }
    .top-feeds{
        text-align: left;
    }
    .module-home{
        width: 100%;
       padding: 0px;
       padding-top: 70px;
       height: 100%;
    }

    .module-home h1 {
        font-size: 25px;
    }
  }
